.formWrap {
    max-height: 400px;
    overflow: auto;
    margin-bottom:16px;
    padding-right: 12px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control:-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.form-control {
  height: auto;
}

.has-error .help-block,
.has-error .control-label {
  color: #b94a48;
}

.has-error .form-control {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.container {
  width: auto;
}
.panel-group {
  margin: 0px;
}
.parentCat {
  margin: 10px;
  padding: 10px;
}
.eventTexts{
   padding-top: 5px;
   font-size: 18px;
   margin: 0px;
}
.eventLabel{
   padding-top: 8px;
   font-size: 12px;
   margin: 0px;
}
.dateArea {
  margin: 5px auto 0px auto;
  text-align: center;
  width: 80px;
  padding: 12px;
}
.eventDetail {
  padding: 10px;
  /*border:1px solid red;*/
}
.header {
  height: 40px;
  background: #808080;
  margin-bottom: 10px;
  cursor: pointer;
}
.pagelink {
  color: #bde423; 
  padding: 10px;
}
.space {
  height: 20px;
}
input[type='file']{
  color: transparent;
}
.img-thumbnail {
  width: 60px;
  height: 60px;
}
.imageUploader {
  margin-top: 20px;
}
.imageLabel {
  margin-top: 14px !important;
}
.serviceList {
  padding: 10px;
  border: 1px solid #808080;
}
.serviceTitle {
  margin: 0px;
}
.serviceDescription {
  margin: 0px;
}
.showmore {
  float: right;
}
.showmoreArea {
  margin-top: 10px;
  height: 60px;
  display: none;
}
.dateFormat {
  margin: 0px;
}

.tbl_number {
  width: 30px;
}
.viewbutton {
  margin-top: 20px;
}
.tbl_container h5{
  font-size: 14px;
  margin: 5px;
}
.requested {
  background: #808080;
}
.addMessage {
  width: 100%;
}
[class^="slickgrid_"],
[class^="slickgrid_"] div {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.counter{display: inline; color: #fff; font-size: 12px;  padding:0px 3px; float: right; margin-top: -10px; margin-right: 3px;
border-radius: 2px;

background: #f93a43; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5M2E0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZjEyMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #f93a43 0%, #df121c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f93a43), color-stop(100%,#df121c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f93a43 0%,#df121c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f93a43 0%,#df121c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f93a43 0%,#df121c 100%); /* IE10+ */
background: linear-gradient(to bottom, #f93a43 0%,#df121c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f93a43', endColorstr='#df121c',GradientType=0 ); /* IE6-8 */
}

#messageBox {
  width: 560px;
}
.logoImg {
  width: 60px;
  height: 60px;
}