.formWrap {
    max-height: 400px;
    overflow: auto;
    margin-bottom:16px;
    padding-right: 12px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control:-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.form-control {
  height: auto;
}

.has-error .help-block,
.has-error .control-label {
  color: #b94a48;
}

.has-error .form-control {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.container {
  width: auto;
}
.panel-group {
  margin: 0px;
}
.parentCat {
  margin: 10px;
  padding: 10px;
}
.eventTexts{
   padding-top: 5px;
   font-size: 18px;
   margin: 0px;
}
.eventLabel{
   padding-top: 8px;
   font-size: 12px;
   margin: 0px;
}
.dateArea {
  margin: 5px auto 0px auto;
  text-align: center;
  width: 80px;
  padding: 12px;
}
.eventDetail {
  padding: 10px;
  /*border:1px solid red;*/
}
.header {
  height: 40px;
  background: #808080;
  margin-bottom: 10px;
  cursor: pointer;
}
.navbar-nav > li > a {
  color: #FFFFFF; 
  padding: 10px;
}
.space {
  height: 20px;
}
input[type='file']{
  color: transparent;
}
.img-thumbnail {
  width: 60px;
  height: 60px;
}
.imageUploader {
  margin-top: 20px;
}
.imageLabel {
  margin-top: 14px !important;
}
.serviceList {
  padding: 10px;
  border: 1px solid #808080;
}
.serviceTitle {
  margin: 0px;
}
.serviceDescription {
  margin: 0px;
}
.showmore {
  float: right;
}
.showmoreArea {
  margin-top: 10px;
  height: 60px;
  display: none;
}
.dateFormat {
  margin: 0px;
}

.tbl_number {
  width: 30px;
}
.viewbutton {
  margin-top: 20px;
}
.tbl_container h5{
  font-size: 14px;
  margin: 5px;
}
.requested {
  background: #808080;
}
.addMessage {
  width: 100%;
}
[class^="slickgrid_"],
[class^="slickgrid_"] div {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.counter{display: inline; color: #fff; font-size: 12px;  padding:0px 3px; float: right; margin-top: -10px; margin-right: 3px;
border-radius: 2px;

background: #f93a43; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5M2E0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZjEyMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #f93a43 0%, #df121c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f93a43), color-stop(100%,#df121c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f93a43 0%,#df121c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f93a43 0%,#df121c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f93a43 0%,#df121c 100%); /* IE10+ */
background: linear-gradient(to bottom, #f93a43 0%,#df121c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f93a43', endColorstr='#df121c',GradientType=0 ); /* IE6-8 */
}

#messageBox {
  width: 560px;
}
.logoImg {
  width: 60px;
  height: 60px;
}
.input-group-addon {
  cursor: pointer;
}
.bootstrap-timepicker-hour, .bootstrap-timepicker-minute, .bootstrap-timepicker-meridian {
  background-color: #FFF;
  border: 1px solid #CCC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  height: 20px;
  padding: 4px 6px;
}
.mainHeader {
  background: #2fb1e8;
  height: 40px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
  text-decoration: none;
}
.navbar {
  min-height: 40px;
  border: none;
  border-radius: 0px;
  margin: 0px;
}
.white, .white a {
  color: #fff;
}
.pagelink {
  padding-top:12px;
  margin: 0px;
}
.pagelink > * {
  color: #FFFFFF;
  margin: 0 5px;
  cursor: pointer;
}
.pagelink .dropdown-menu {
  width: 50px;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar .events {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar .events a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
#logo {
  width: 230px;
  height: 200px;
  cursor: pointer;
  /*background-image:url('/public/logo.jpg');*/
  background-image: url('/logo.jpg')
}


.sidebar-nav .navbar .navbar-nav .events {
  padding: 0px;
  background: #e70381;
  border-bottom: 1px solid #f700d6;
  border-top: 1px solid #f700d6;
  height: 75px;
  overflow: hidden;
  width: 230px;
}

.sidebar-nav .navbar .navbar-nav .events:hover, .sidebar-nav .navbar .navbar-nav .active{
  background-image: url('/side-back-hover.png');
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: none;
  color: none;
  display: inline-block;
  padding: 0px;
  vertical-align: top;
  margin: 25px 10px;
  font-size: 12px;
  font-weight: none;
}
.navbar-default .navbar-nav > .events > a {
  color: #FFFFFF !important;
  background: none;
  display: inline-block;
  padding: 0px;
  vertical-align: top;
  margin: 25px 10px;
  font-size: 12px;
  font-weight: none;  
}
.navbar-default .navbar-nav > .events > a:hover {
  color: #333333 !important;
  background: none;
  display: inline-block;
  padding: 0px;
  vertical-align: top;
  margin: 25px 10px;
  font-size: 12px;
  font-weight: none;  
}
.navIcons {
  padding-left:25px;
  display: inline-block;
  width: 60px;
  height: 75px;
}
.timeline-back-icon {
  background-image: url('/timeline.png');
}
.events-back-icon {
 background-image: url('/events.png'); 
}
.invites-back-icon {
 background-image: url('/invites.png'); 
}
.budget-back-icon {
 background-image: url('/budget.png'); 
}
.vendors-back-icon {
 background-image: url('/vendors.png'); 
}
.mask {
  -moz-box-sizing: border-box;
  border: 60px solid rgba(231, 3, 129, 0.7);
  cursor: pointer;
  opacity: 1;
  position: absolute;
  top: 0px;
  transform: scale(4);
  transition: all 0.3s ease-in-out 0s;
  visibility: visible;
  width:  230px;
  height: 73px;
}

.mask:hover, .maskActive {
  -moz-box-sizing: border-box;
  border: 60px solid rgba(231, 3, 129, 0.7);
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 50px;
  transform: scale(4);
  transition: all 0.3s ease-in-out 0s;
  visibility: visible;
}
#social-footer {
  background: #2fb1e8;
  width: 230px;
  height: 200px;
}
.social-area p {
  color: #FFFFFF;
}
.social-header {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 0px;
}
.social-area {
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  padding-top: 15px;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
#social-seach{
  background-color : #3dc9ef;
  border: none;
  color: #FFFFFF;
}
.social-media-area{
  padding-top: 10px;
}
.social-media-area span{
  width: 25px;
  height: 25px;
  margin-left: 11px;
  display: inline-block;
}
.icon-facebook {
  background-image: url('/icon-facebook.png');
}
.icon-twitter {
  background-image: url('/icon-twitter.png');
}
.icon-feed2 {
  background-image: url('/icon-feed2.png');
}
.icon-feed {
  background-image: url('/icon-feed.png');
}
.social-text {
  font-size: 12px;
}
.pre-phase, .in-phase{
  display: inline-block;
  margin: 5px;
}
.pre-phase {
  color: #2fb1e8;
}

.in-phase {
  color: #e70381;
}

.phase-title{    
  width:35px;
  height:35px;
  border-radius:100%;
  text-align:center;
  line-height: 30px;
  display:inline-block; 
}

.pre-phase .phase-title{
  border:2px solid #2fb1e8;
}
.in-phase .phase-title{
  border:2px solid #e70381;
}

.phase-title span
{
  line-height: normal;
  display:inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
}
.phase-comment {
  font-size: 15px;
  display:inline-block;
  margin-left: 5px;
}
.phase-arrow{
  font-size: 14px;
  font-weight: normal;

}

.phase-header {
  border-bottom: 4px solid #e70381;
}
h1 {
  color: #e70381;
}
.eventForm label {
  font-size: 15px;
  color: #2fb1e8;
  font-weight: normal;
  margin-top: 15px;
}
.eventForm {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.btn-event {
  background: #e70381;
  color: #FFFFFF;
}
.btn-event:hover {
  color: #FFFFFF;
  background: #ef56ab; 
}
.navbar-default {
  background: #FFFFFF;
}
.activeEvents {
  width: 230px;
  background: none repeat scroll 0 0 #E70381;
}
.navbar-default .navbar-nav > .activeEvents > a {
  color: #FFFFFF;
}
