<head> 
  <title>Event</title>
</head>
<template name="adminHeader">
</template>
<template name="adminFooter">
</template>

<template name="ServiceAdmin">
    {{> adminHeader }}
    {{> adminComponents }}
    {{> adminFooter }}  
</template> 
  
<template name="adminComponents">
  <div class="container">
     <div class="row" style="margin-bottom: 50px;">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#eventType" data-toggle="tab">Event Types</a></li>
        <li><a href="#locations" data-toggle="tab">Locations</a></li>
        <li><a href="#serviceCategory" data-toggle="tab">Service Categories</a></li>
        <li><a href="#createVendor" data-toggle="tab">Create Vendor</a></li>
        <li><a href="#createVendorUser" data-toggle="tab">Create Vendor User</a></li>
        <li><a href="#createVendorService" data-toggle="tab">Create Vendor Service</a></li>
      </ul>
      <div class="space"></div>
      <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active tab_inner" id="eventType">
            {{> eventTypes}}
        </div>
        <div class="tab-pane tab_inner" id="locations">
         <div class="col-12 col-lg-8">
            {{> adminLocations}}  
         </div>          
        </div>        
        <div class="tab-pane tab_inner" id="serviceCategory">  
         
         <div class="col-12 col-lg-8">
            {{> ServiceCateogiesTp}}
         </div>          
        </div>
        <div class="tab-pane tab_inner" id="createVendor">
         <div class="col-12 col-lg-8">
            {{> CreateVendor}}
         </div>          
        </div>        
        <div class="tab-pane tab_inner" id="createVendorUser">
         <div class="col-12 col-lg-8">
            {{> CreateVendorUser}}
         </div>          
        </div>     
        <div class="tab-pane tab_inner" id="createVendorService">
         <div class="col-12 col-lg-8">
            {{> createVendorService}}
         </div>          
        </div>                            
      </div>
    </div>
  </div>
</template>
<template name="eventTypes">
  <div class="col-12 col-lg-8">
    <div class="page-header">
      <h1>Event Type</h1>
    </div> 
    <div class="container">
      <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-10">
   
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">{{> eventTypeTable}}</div>  
</template>

<template name="adminLocations">
<div class="page-header">
  <h1>Location</h1>
</div> 
  {{> LocationsTable}}
</template>

 <template name="eventTypeTable">
  <div class="col-md-6">
    <table class="table table-bordered table-striped table-hover" id="eventTypeTable">
      <tbody>
        <tr>
          <!-- <td><h3>Event Types</h3></td> -->
        </tr>
        {{#each eventtypes}}
          <tr>
            <td>
            <p class="brand editable editable-click" data-type="text" data-placeholder="Enter text" data-emptytext="Click to enter text" data-id="{{_id}}">{{type}}</p>
          </td>
            <td width="10%;">
              <a href="#" class="delete" id="{{_id}}">delete</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#eventTypeModal">
      Add new
    </button>
    <!-- Modal -->
    <div class="modal fade" id="eventTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add New EventType</h4>
          </div>
          <div class="modal-body" style="height:60px;">
            <div class="col-md-8">
              <div class="form-group">
                <input type="text" class="form-control" id="newEventType" placeholder="New Event Type">
              </div>            
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" id="add">Add</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>    
  </div>
</template>

<template name="buttons">
  {{#if newEventTypeMode}}
  <button type="submit" class="btn btn-primary insert">Insert</button>
  {{else}}
  <button type="submit" class="btn btn-primary update">Update</button>
  {{/if}}
  <button type="reset" class="btn btn-default">Reset</button>
</template>


<template name="LocationsTable">
 <div class="col-md-6">
    <table class="table table-bordered table-striped table-hover" id="eventLocationTable">
        <thead>
          <tr>
            <th>City</th>
            <th>Citycode</th>
            <th>Country</th>
            <th>District</th>
          </tr>
        </thead>
        <tbody>
          {{#each eventLocations}}
            <tr>
              <td>
              <p class="brand editable editable-click" data-type="text" data-placeholder="Enter text" data-emptytext="Click to enter text" data-field="city" data-id="{{_id}}">{{city}}</p>
            </td>
              <td>
              <p class="brand editable editable-click" data-type="text" data-placeholder="Enter text" data-emptytext="Click to enter text" data-field="citycode" data-id="{{_id}}">{{citycode}}</p>
            </td>
              <td>
              <p class="brand editable editable-click" data-type="text" data-placeholder="Enter text" data-emptytext="Click to enter text" data-field="country" data-id="{{_id}}">{{country}}</p>
            </td>
              <td>
              <p class="brand editable editable-click" data-type="text" data-placeholder="Enter text" data-emptytext="Click to enter text" data-field="district" data-id="{{_id}}">{{district}}</p>
            </td>                                    
              <td width="10%;">
                <a href="#" class="delete" id="{{_id}}">delete</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
    </table>
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#locationModal">
      Add new
    </button>
  </div>
    <div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add New Location</h4>
          </div>
          <div class="modal-body" style="height:200px;">
            <form role="form">
            <div class="col-md-8">
              <div class="form-group">
                <input type="text" class="form-control" id="newCity" placeholder="City" required="" />
              </div>    
              <div class="form-group">
                <input type="text" class="form-control" id="newCityCode" placeholder=" Citycode" required="" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="newCountry" placeholder="Country" required="" />
              </div>                                    
              <div class="form-group">
                <input type="text" class="form-control" id="newDistrict" placeholder="District" required="" />
              </div>                                    
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary" id="add">Add</button>
            </div>
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>  
</template>

<template name="ServiceCateogiesTp">
  <div class="page-header">
    <h1>Service Category</h1>
  </div>
  <div class="col-md-6">
      <table class="table table-bordered table-striped table-hover" id="serviceCategoryTable">
          <thead>
            <tr>
              <th>Sub-Category</th>
              <th>Parent</th>
            </tr>
          </thead>
          <tbody>
            {{#each serviceCategories}}
              <tr>
                <td>
                  <p class="brand editable editable-click" data-type="text" data-placeholder="Enter text" data-emptytext="Click to enter text" data-field="city" data-id="{{_id}}">{{name}}</p>
                </td>
                <td>
                  <p class="brand editable editable-select" data-type="select" data-placeholder="Enter text" data-emptytext="Select Categories" data-id="{{_id}}">{{parents}}</p>
                </td>
              </tr>
            {{/each}}
          </tbody>
      </table>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#categoryModel">
        Add new
      </button>
    </div>  
    <div class="modal fade" id="categoryModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add New Service Category</h4>
          </div>
          <div class="modal-body" style="height:200px;">
            <form role="form">
            <div class="col-md-8">
              <div class="form-group">
                <label for="categoryName">Category Name</label>
                <input type="text" class="form-control" id="categoryName" name="categoryName" required="" />
              </div>                                 
              <div class="form-group">
                <label for="catParent">Category Parent</label>
                <select class="form-control" name="catParent" id="catParent">
                  {{#each categoryOptions}}
                  <option value="{{value}}">{{label}}</option>
                  {{/each}}
                </select>
              </div>                                 

            </div>
            <div class="col-md-2" style="padding-top: 20px;">
              <button type="submit" class="btn btn-primary" id="add">Add</button>
            </div>
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>     
</template>
<template name="CreateVendorUser">
  <div class="page-header">
    <h1>Create Vendor User</h1>
  </div>     
  <div class="container">
    <div class="row">
      <div class="col-md-2">&nbsp;
      </div>
      <div class="col-md-6">
      <form class="form-horizontal">
      <fieldset>
      <div class="form-group">
        <label class="col-md-4 control-label" for="firstname">User Name</label>  
        <div class="col-md-6">
        <input id="username" name="username" placeholder="" class="form-control input-md" type="text" required="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="firstname">First Name</label>  
        <div class="col-md-6">
        <input id="firstname" name="firstname" placeholder="" class="form-control input-md" type="text" required="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="lastname">Last Name</label>  
        <div class="col-md-6">
        <input id="lastname" name="lastname" placeholder="" class="form-control input-md" type="text" required="">
          
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="email">Email</label>  
        <div class="col-md-6">
        <input id="email" name="email" placeholder="" class="form-control input-md" type="text" required="">
          
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="telno">Tel. No</label>  
        <div class="col-md-6">
        <input id="telno" name="telno" placeholder="" class="form-control input-md" type="text" required="">
          
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="password">Password</label>
        <div class="col-md-6">
          <input id="password" name="password" placeholder="" class="form-control input-md" type="password" required="">
          
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="passwordConfirm">Confirm Password</label>
        <div class="col-md-6">
          <input id="passwordConfirm" name="passwordConfirm" placeholder="" class="form-control input-md" type="password" required="">
          
        </div>
      </div>
       <div class="form-group">
        <label class="col-md-4 control-label" for="vendors">Vendor</label>
        <div class="col-md-6">
          <select id="vendors" name="vendors" class="form-control">
            {{#each getSelect "vendor"}}
              <option value="{{value}}">{{label}}</option>
            {{/each}}
          </select>
        </div>
      </div> 
      <div class="form-group">
        <label class="col-md-4 control-label" for="register"></label>
        <div class="col-md-4">
          <button id="register" name="register" class="btn btn-primary">Register</button>
        </div>
      </div>

      </fieldset>
      </form>       
      </div>
    </div>
  </div>  
</template>

<template name="createVendorService">
  <div class="page-header">
    <h1>Create Vendor Service</h1>
  </div>   
  <div class="container">
    <div class="row">
      {{> flashMessages}}
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        <form class="form-horizontal">
        <fieldset>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="serviceName">Name</label>  
          <div class="col-md-6">
          <input id="serviceName" name="serviceName" placeholder="" class="form-control input-md" required="" type="text">
            
          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="briefDescription">Brief Description</label>
          <div class="col-md-4">                     
            <textarea class="form-control" id="briefDescription" name="briefDescription"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="nog">Capacity</label>
          <div class="col-md-6">
            <input id="nog" name="nog" placeholder="" class="form-control input-md" required="" type="text">
          </div>
        </div>
        <div class="col-md-4" align="right"><label class="control-label">Categories</label></div>
        <div class="col-md-6">
        {{#each arrayify serviceObject}}
          <div class="form-group">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{index}}">
                      {{name}}
                    </a>
                  </h4>
                </div>
                <div id="collapse{{index}}" class="panel-collapse collapse out">
                  <div class="panel-body">
                    <div class="form-group">
                      <div class="col-md-4">
                        {{#each getSubs serviceObject parentItem}}
                        <label class="checkbox-inline" for="{{_id}}"> 
                          <input type="checkbox" name="categories[]" id="{{_id}}" value="{{_id}}" /> {{name}}
                        </label>
                        {{/each}}
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div> 
          </div>
        {{/each}}
        </div>       
        <div class="form-group">
          <label class="col-md-4 control-label" for="eventDuration">Price Range</label>
          <div class="col-md-6">
            <select id="priceRange" name="priceRange" class="form-control">
              {{#each getSelect "priceRange"}}
                <option value="{{value}}">{{label}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="locations">Event Type</label>
          <div class="col-md-4">
            {{#each getSelect "eventTypes"}}
              <label class="checkbox-inline" for="locations-{{_id}}">
                <input name="eventTypes[]" id="eventTypes-{{_id}}" value="{{value}}" type="checkbox">
                {{label}}
              </label>            
            {{/each}}            
          </div>
        </div>        
        <div class="form-group">
          <label class="col-md-4 control-label" for="locations">Locations</label>
          <div class="col-md-4">
            {{#each getSelect "eventLocations"}}
              <label class="checkbox-inline" for="locations-{{_id}}">
                <input name="locations[]" id="locations-{{_id}}" value="{{value}}" type="checkbox">
                {{label}}
              </label>            
            {{/each}}            
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="vendors">Vendor</label>
          <div class="col-md-6">
            <select id="vendorData" name="vendorData" class="form-control">
              {{#each getSelect "vendor"}}
                <option value="{{value}}">{{label}}</option>
              {{/each}}
            </select>
          </div>
        </div>                 
        <div class="form-group">
          <label class="col-md-4 control-label" for="createService"></label>
          <div class="col-md-4">
            <button id="createService" name="createService" class="btn btn-primary">Create Service</button>
          </div>
        </div>                   
      </fieldset>
    </form>
  </div>
</div>
</div>
</template>

<template name="CreateVendor">
  <div class="page-header">
    <h1>Create Vendor</h1>
  </div>
  <div class="container">
    <div class="row">
      {{> flashMessages}}
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        <form class="form-horizontal">
        <fieldset>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="vendorName">Name</label>  
          <div class="col-md-6">
          <input id="vendorName" name="vendorName" placeholder="" class="form-control input-md" required="" type="text">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="companyEmail">Email</label>  
          <div class="col-md-6">
          <input id="companyEmail" name="companyEmail" placeholder="" class="form-control input-md" required="" type="text">
            
          </div>
        </div>        

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="vendorDescription">Description</label>
          <div class="col-md-4">                     
            <textarea class="form-control" id="vendorDescription" name="vendorDescription"></textarea>
          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="vendorBriefDescription">Brief Description</label>
          <div class="col-md-4">                     
            <textarea class="form-control" id="vendorBriefDescription" name="vendorBriefDescription"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label imageLabel" for="portfolioImage">Portfolio Image</label>  
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <input id="portfolioImage" name="portfolioImage" placeholder="" class="input-md imageUploader" required="" type="file">
              </div>
              <div class="col-md-2">&nbsp;</div>
              <div class="col-md-6">
                <img src="..." alt="" id="portfolioPrinter" class="img-thumbnail">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label imageLabel" for="logoImage">Logo</label>  
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <input id="logoImage" name="logoImage" placeholder="" class="input-md imageUploader" required="" type="file">
              </div>
              <div class="col-md-2">&nbsp;</div>
              <div class="col-md-6">
                <img src="..." alt="" id="logoPrinter" class="img-thumbnail">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label imageLabel" for="letterheadImage">Letterhead Image</label>  
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <input id="letterheadImage" name="letterheadImage" placeholder="" class="input-md imageUploader" required="" type="file">
              </div>
              <div class="col-md-2">&nbsp;</div>
              <div class="col-md-6">
                <img src="..." alt="" id="letterheadPrinter" class="img-thumbnail">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="locations">Locations</label>
          <div class="col-md-4">
            {{#each getSelect "eventLocations"}}
              <label class="checkbox-inline" for="locations-{{_id}}">
                <input name="locations[]" id="locations-{{_id}}" value="{{value}}" type="checkbox">
                {{label}}
              </label>            
            {{/each}}            
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="addVendor"></label>
          <div class="col-md-4">
            <button id="addVendor" name="addVendor" class="btn btn-primary">Create Vendor</button>
          </div>
        </div>

        </fieldset>
        </form>

      </div>
    </div>
  </div>
</template>
