<head> 
  <title>Event</title>
</head>
<template name="adminHeader">
</template>
<template name="adminFooter">
</template>

<template name="ServiceAdmin">
    {{> adminHeader }}
    {{> adminComponents }}
    {{> adminFooter }}  
</template> 
  
<template name="adminComponents">
  <div class="container">
     <div class="row" style="margin-bottom: 50px;">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#eventType" data-toggle="tab">Event Types</a></li>
        <li><a href="#locations" data-toggle="tab">Locations</a></li>
        <li><a href="#serviceCategory" data-toggle="tab">Service Categories</a></li>
        <li><a href="#createVendor" data-toggle="tab">Create Vendor</a></li>
        <li><a href="#createVendorUser" data-toggle="tab">Create Vendor User</a></li>
        <li><a href="#createVendorService" data-toggle="tab">Create Vendor Service</a></li>
      </ul>
      <div class="space"></div>
      <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active tab_inner" id="eventType">
            {{> eventTypes}}
        </div>
        <div class="tab-pane tab_inner" id="locations">
         <div class="col-12 col-lg-4">
            {{> adminLocations}}  
         </div>          
        </div>        
        <div class="tab-pane tab_inner" id="serviceCategory">
         <legend align="center">Service Category</legend>
         <div class="col-12 col-lg-8">
            {{> ServiceCateogiesTp}}
         </div>          
        </div>
        <div class="tab-pane tab_inner" id="createVendor">
         <legend align="center">Create Vendor</legend>
         <div class="col-12 col-lg-8">
            {{> CreateVendor}}
         </div>          
        </div>        
        <div class="tab-pane tab_inner" id="createVendorUser">
         <legend align="center">Create Vendor User</legend>
         <div class="col-12 col-lg-8">
            {{> CreateVendorUser}}
         </div>          
        </div>     
        <div class="tab-pane tab_inner" id="createVendorService">
         <legend align="center">Create Vendor Service</legend>
         <div class="col-12 col-lg-8">
            {{> createVendorService}}
         </div>          
        </div>                            
      </div>
    </div>
  </div>
</template>
<template name="eventTypes">
  <legend align="center">Event Types</legend>
  <div class="col-12 col-lg-8">
   {{#autoForm schema=schema id="EventTypeForm" doc=selectedEventTypes novalidate="novalidate"}}
    <div class="formWrap">
      <div class="form-group {{#if afFieldIsInvalid 'type'}}has-error{{/if}}">
      {{afFieldLabel 'type'}}
      {{afFieldInput 'type' autofocus='autofocus' placeholder="schemaLabel"}}
      {{#if afFieldIsInvalid 'type'}}
      <span class="help-block">{{afFieldMessage 'type'}}</span>
      {{/if}}
    </div>
  </div>
  {{> buttons}}
  {{/autoForm}} 
  </div>
  <div class="col-12 col-lg-4">{{> eventTypeTable}}</div>  
</template>

<template name="adminLocations">
  <legend align="center">Location</legend>
  <div class="col-12 col-lg-8">
    {{> LocationsTemplate}}
  </div>  
</template>
 <template name="eventTypeTable">
  <table class="table table-bordered table-striped table-hover">
    <tbody>
      <tr>
        <td><button type="button" class="btn-link eventTypeClear">New EventType</button></td>
        <td></td>
      </tr>
      {{#each eventtypes}}
      <tr>
        <td><button type="button" class="btn-link eventTypeSelect">{{type}}</button></td>
        <td>
          {{#autoForm schema='EventTypes' doc=this novalidate="novalidate"}}
          <button type="submit" class="btn btn-primary remove">Delete</button>
          {{/autoForm}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<template name="buttons">
  {{#if newEventTypeMode}}
  <button type="submit" class="btn btn-primary insert">Insert</button>
  {{else}}
  <button type="submit" class="btn btn-primary update">Update</button>
  {{/if}}
  <button type="reset" class="btn btn-default">Reset</button>
</template>


<template name="LocationsTemplate">
  {{#autoForm schema='LocationsForm' novalidate="novalidate" id="locationsForm"}}
  <fieldset>
    <div class="form-group {{#if afFieldIsInvalid 'district'}}has-error{{/if}}">
      {{afFieldLabel 'district'}}
      {{afFieldInput 'district'}}
      {{#if afFieldIsInvalid 'district'}}
      <span class="help-block">{{afFieldMessage 'district'}}</span>
      {{/if}}
    </div>
    <div class="form-group {{#if afFieldIsInvalid 'city'}}has-error{{/if}}">
      {{afFieldLabel 'city'}}
      {{afFieldInput 'city'}}
      {{#if afFieldIsInvalid 'city'}}
      <span class="help-block">{{afFieldMessage 'city'}}</span>
      {{/if}}
    </div>
    <div class="form-group {{#if afFieldIsInvalid 'citycode'}}has-error{{/if}}">
      {{afFieldLabel 'citycode'}}
      {{afFieldInput 'citycode'}}
      {{#if afFieldIsInvalid 'citycode'}}
      <span class="help-block">{{afFieldMessage 'citycode'}}</span>
      {{/if}}
    </div>
     <div class="form-group {{#if afFieldIsInvalid 'country'}}has-error{{/if}}">
      {{afFieldLabel 'country'}}
      {{afFieldInput 'country'}}
      {{#if afFieldIsInvalid 'country'}}
      <span class="help-block">{{afFieldMessage 'country'}}</span>
      {{/if}}
    </div>
  </fieldset>
  <button type="submit" class="btn btn-primary insert">Insert</button>
  {{/autoForm}}
</template>

<template name="LocationsTable">
	<table class="table table-bordered table-striped table-hover" style="margin: 25px 0;">
    <thead>
      <tr>
        <th>District</th>
        <th>City</th>
        <th>City Code</th>
        <th>Country</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each locations}}
      <tr>
        <td>{{district}}</td>
        <td>{{city}}</td>
        <td>{{citycode}}</td>
        <td>{{country}}</td>
        
        <td>
          {{#autoForm schema='LocationsForm' doc=this novalidate="novalidate"}}
            <button type="submit" class="btn btn-primary remove">Delete</button>
          {{/autoForm}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>	

<template name="ServiceCateogiesTp">
  {{#autoForm schema='ServiceCategoriesForm' novalidate="novalidate" id="servicecatForm"}}
  <fieldset>
    <div class="form-group {{#if afFieldIsInvalid 'name'}}has-error{{/if}}">
      {{afFieldLabel 'name'}}
      {{afFieldInput 'name'}}
      {{#if afFieldIsInvalid 'name'}}
        <span class="help-block">{{afFieldMessage 'name'}}</span>
      {{/if}}
    </div>
    <div class="form-group {{#if afFieldIsInvalid 'parent'}}has-error{{/if}}">
      {{afFieldLabel 'parent'}}
      {{afFieldInput 'parent' options=categoryOptions}}
    </div> 
    <div class="form-group {{#if afFieldIsInvalid 'file'}}has-error{{/if}}">
      {{afFieldLabel 'file'}}
      <input type="file" name="file" id="file" />
    </div>     
    <button type="submit" class="btn btn-primary insert">Insert</button>
  </fieldset>
  {{/autoForm}}
</template>
<template name="CreateVendorUser">
  <div class="container">
    <div class="row">
      <div class="col-md-2">&nbsp;
      </div>
      <div class="col-md-6">
      <form class="form-horizontal">
      <fieldset>
      <div class="form-group">
        <label class="col-md-4 control-label" for="firstname">User Name</label>  
        <div class="col-md-6">
        <input id="username" name="username" placeholder="" class="form-control input-md" type="text" required="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="firstname">First Name</label>  
        <div class="col-md-6">
        <input id="firstname" name="firstname" placeholder="" class="form-control input-md" type="text" required="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="lastname">Last Name</label>  
        <div class="col-md-6">
        <input id="lastname" name="lastname" placeholder="" class="form-control input-md" type="text" required="">
          
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="email">Email</label>  
        <div class="col-md-6">
        <input id="email" name="email" placeholder="" class="form-control input-md" type="text" required="">
          
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="telno">Tel. No</label>  
        <div class="col-md-6">
        <input id="telno" name="telno" placeholder="" class="form-control input-md" type="text" required="">
          
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="password">Password</label>
        <div class="col-md-6">
          <input id="password" name="password" placeholder="" class="form-control input-md" type="password" required="">
          
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="passwordConfirm">Confirm Password</label>
        <div class="col-md-6">
          <input id="passwordConfirm" name="passwordConfirm" placeholder="" class="form-control input-md" type="password" required="">
          
        </div>
      </div>
       <div class="form-group">
        <label class="col-md-4 control-label" for="vendors">Vendor</label>
        <div class="col-md-6">
          <select id="vendors" name="vendors" class="form-control">
            {{#each getSelect "vendor"}}
              <option value="{{value}}">{{label}}</option>
            {{/each}}
          </select>
        </div>
      </div> 
      <div class="form-group">
        <label class="col-md-4 control-label" for="register"></label>
        <div class="col-md-4">
          <button id="register" name="register" class="btn btn-primary">Register</button>
        </div>
      </div>

      </fieldset>
      </form>       
      </div>
    </div>
  </div>  
</template>

<template name="createVendorService">
  <div class="container">
    <div class="row">
      {{> flashMessages}}
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        <form class="form-horizontal">
        <fieldset>

        <!-- Form Name -->
        <legend>Create Service</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="serviceName">Name</label>  
          <div class="col-md-6">
          <input id="serviceName" name="serviceName" placeholder="" class="form-control input-md" required="" type="text">
            
          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="briefDescription">Brief Description</label>
          <div class="col-md-4">                     
            <textarea class="form-control" id="briefDescription" name="briefDescription"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="eventDuration">Capacity</label>
          <div class="col-md-6">
            <select id="nog" name="nog" class="form-control">
              {{#each getSelect "numberOfGuests"}}
                <option value="{{value}}">{{label}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="col-md-4" align="right"><label class="control-label">Categories</label></div>
        <div class="col-md-6">
        {{#each_with_index arrayify serviceObject}}
          <div class="form-group">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{index}}">
                      {{name}}
                    </a>
                  </h4>
                </div>
                <div id="collapse{{index}}" class="panel-collapse collapse out">
                  
                  <div class="panel-body">
                    <div class="form-group">
                      <div class="col-md-4">
                        {{#each_with_index getSubs serviceObject parent}}
                        <label class="checkbox-inline" for="{{_id}}"> 
                          <input type="checkbox" name="categories[]" id="{{_id}}" value="{{_id}}" /> {{name}}
                        </label>
                        {{/each_with_index}}
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div> 
          </div>
          {{/each_with_index}}
        </div>       
        <div class="form-group">
          <label class="col-md-4 control-label" for="eventDuration">Price Range</label>
          <div class="col-md-6">
            <select id="priceRange" name="priceRange" class="form-control">
              {{#each getSelect "priceRange"}}
                <option value="{{value}}">{{label}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="event_Type">Event Type</label>
          <div class="col-md-6">
            <select id="event_Type" name="event_Type" class="form-control">
              {{#each getSelect "eventTypes"}}
                <option value="{{value}}">{{label}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="vendors">Vendor</label>
          <div class="col-md-6">
            <select id="vendors" name="vendors" class="form-control">
              {{#each getSelect "vendor"}}
                <option value="{{value}}">{{label}}</option>
              {{/each}}
            </select>
          </div>
        </div>                 
        <div class="form-group">
          <label class="col-md-4 control-label" for="createService"></label>
          <div class="col-md-4">
            <button id="createService" name="createService" class="btn btn-primary">Create Service</button>
          </div>
        </div>                   
      </fieldset>
    </form>
  </div>
</div>
</div>
</template>

<template name="CreateVendor">
  <div class="container">
    <div class="row">
      {{> flashMessages}}
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        <form class="form-horizontal">
        <fieldset>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="vendorName">Name</label>  
          <div class="col-md-6">
          <input id="vendorName" name="vendorName" placeholder="" class="form-control input-md" required="" type="text">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="companyEmail">Email</label>  
          <div class="col-md-6">
          <input id="companyEmail" name="companyEmail" placeholder="" class="form-control input-md" required="" type="text">
            
          </div>
        </div>        

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="vendorDescription">Description</label>
          <div class="col-md-4">                     
            <textarea class="form-control" id="vendorDescription" name="vendorDescription"></textarea>
          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="vendorBriefDescription">Brief Description</label>
          <div class="col-md-4">                     
            <textarea class="form-control" id="vendorBriefDescription" name="vendorBriefDescription"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label imageLabel" for="portfolioImage">Portfolio Image</label>  
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <input id="portfolioImage" name="portfolioImage" placeholder="" class="input-md imageUploader" required="" type="file">
              </div>
              <div class="col-md-2">&nbsp;</div>
              <div class="col-md-6">
                <img src="..." alt="" id="portfolioPrinter" class="img-thumbnail">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label imageLabel" for="logoImage">Logo</label>  
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <input id="logoImage" name="logoImage" placeholder="" class="input-md imageUploader" required="" type="file">
              </div>
              <div class="col-md-2">&nbsp;</div>
              <div class="col-md-6">
                <img src="..." alt="" id="logoPrinter" class="img-thumbnail">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label imageLabel" for="letterheadImage">Letterhead Image</label>  
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <input id="letterheadImage" name="letterheadImage" placeholder="" class="input-md imageUploader" required="" type="file">
              </div>
              <div class="col-md-2">&nbsp;</div>
              <div class="col-md-6">
                <img src="..." alt="" id="letterheadPrinter" class="img-thumbnail">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="locations">Locations</label>
          <div class="col-md-4">
            {{#each_with_index getSelect "eventLocations"}}
              <label class="checkbox-inline" for="locations-{{index}}">
                <input name="locations[]" id="locations-{{index}}" value="{{value}}" type="checkbox">
                {{label}}
              </label>            
            {{/each_with_index}}            
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="addVendor"></label>
          <div class="col-md-4">
            <button id="addVendor" name="addVendor" class="btn btn-primary">Create Vendor</button>
          </div>
        </div>

        </fieldset>
        </form>

      </div>
    </div>
  </div>
</template>
