<template name="dashboard">
  <div class="container">
    <div class="row">
        <div class="page-header phase-header">
          <div class="in-phase" id="phase1">
            <div class="phase-title"><span>1</span></div>
            <p class="phase-comment">Enter Your Basic Information</p>
            <i class="glyphicon glyphicon-chevron-right phase-arrow"></i>
          </div>
          <div class="pre-phase" id="phase2">
            <div class="phase-title"><span>2</span></div>
            <p class="phase-comment">Choose Your Requirements</p>
            <i class="glyphicon glyphicon-chevron-right phase-arrow"></i>
          </div>
          <div class="pre-phase" id="phase3">
            <div class="phase-title"><span>3</span></div>
            <p class="phase-comment">Send and Save</p>
            <i class="glyphicon glyphicon-chevron-right phase-arrow"></i>
          </div>          

        </div>

        <!--div id="sidemenu" class="col-md-2">
          <div class="page-header">
            <h4>Events</h4>
          </div>
           <div id="list">
            <ul>
              {{#each eventLists}}
                <li>
                  <a href="/events/{{_id}}">{{eventTitle}}</a>
                </li>
                {{/each}}
            </ul>
           </div>
        </div-->
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
          {{#if isCreated}}
          {{else}}
            {{> CreateEvent}}
          {{/if}}          
        </div>
    </div>
</div>
</template>


<template name="CreateEvent">
  <div class="container">
    <div class="row">
    <h1>Create Event</h1>

    <form role="form">
        <div class="row eventForm">
            <fieldset>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="eventTitle">Add a Title to your Event</label>
                        <input id="eventTitle" name="eventTitle" placeholder="" class="form-control input-md" required="" type="text">                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="eventDescription">Enter description of your Event</label>
                        <textarea class="form-control" id="eventDescription" name="eventDescription"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="eventTypes">What?</label>
                          <select id="eventTypes" name="eventTypes" class="form-control">
                            {{#each getSelect "eventTypes"}}
                              <option value="{{value}}">{{label}}</option>
                            {{/each}}
                          </select>
                        </div>
                        <div class="col-md-6">
                          <label for="nog">No. of guest</label>
                          <select id="nog" name="nog" class="form-control">
                            {{#each getSelect "numberOfGuests"}}
                              <option value="{{value}}">{{label}}</option>
                            {{/each}}
                          </select>                          
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="eventLocations">Where?</label>
                        <select id="eventLocations" name="eventLocations" class="form-control">
                          {{#each getSelect "eventLocations"}}
                            <option value="{{value}}">{{label}}</option>
                          {{/each}}
                        </select>                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="eventTypes">Date</label>
                          <div class="input-group datetimepicker" id="datearea">
                            <input class="set-due-date form-control" type="text" id="datepicker" name="datepicker"/>
                            <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                            </span>              
                          </div>          
                        </div>
                        <div class="col-md-6">
                          <label for="timepicker">Time</label>
                          <div class="input-group bootstrap-timepicker" id="timearea">
                            <input class="set-due-date form-control" type="text" id="timepicker" name="timepicker"/>
                            <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                            </span>
                          </div>            
                        </div>
                      </div>
                    </div>
                </div>     
                <div class="form-group">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="eventDuration">Duration</label>
                          <select id="eventDuration" name="eventDuration" class="form-control">
                            {{#each getSelect "eventDuration"}}
                              <option value="{{value}}">{{label}}hrs</option>
                            {{/each}}
                          </select>
       
                        </div>
                        <div class="col-md-6">
                          <label for="eventPrice">Budget</label>
                          <select id="eventPrice" name="eventPrice" class="form-control">
                            {{#each getSelect "priceRange"}}
                              <option value="{{value}}">{{label}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="eventLocations">Categories</label>
                        {{#each arrayify serviceObject}}
                          <div class="form-group">
                            <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{index}}">
                                      {{name}}
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapse{{index}}" class="panel-collapse collapse out">
                                  <div class="panel-body">
                                    <div class="form-group">
                                      <div class="col-md-4">
                                        {{#each getSubs serviceObject parentItem}}
                                        <label class="checkbox-inline" for="{{_id}}"> 
                                          <input type="checkbox" name="categories[]" id="{{_id}}" value="{{_id}}" /> {{name}}
                                        </label>
                                        {{/each}}
                                      </div>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </div> 
                          </div>
                        {{/each}}                       
                    </div>
                </div>                                                            
            </fieldset>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <button id="submit" name="submit" class="btn btn-event btn-lg btn-block createEventButton">Next <i class="glyphicon glyphicon-chevron-right white"></i></button>
          </div>
        </div>        
    </form> 
  </div>
</div>
</template>
<template name="servicesList">
</template>




