<template name="events">
  <div class="container">
    <div class="row">
        <div id="sidemenu" class="col-md-2">
           Events <a href="/dashboard">+</a>
           <div id="list">
            <ul>
              {{#each eventLists}}
                <li>
                  <a href="/events/{{_id}}">{{eventTitle}}</a>
                </li>
                {{/each}}
            </ul>
           </div>
        </div>
        <div class="col-md-8">
            {{> ListEvent}}
        </div>
    </div>
</div>
</template>

<template name="ListEvent">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4"><p class="eventLabel">Title</p></div>
          <div class="col-md-6"><p class="eventTexts">{{eventTitle}}</p></div>
        </div>
        <div class="row">
          <div class="col-md-4"><p class="eventLabel">Description</p></div>
          <div class="col-md-6"><p class="eventTexts">{{eventDescription}}</p></div>
        </div>
       <div class="row">
          <div class="col-md-4"><p class="eventLabel">Where</p></div>
          <div class="col-md-6"><p class="eventTexts">{{getLocation eventLocations}}</p></div>
        </div>        
        <div class="row">
          <div class="col-md-4"><p class="eventLabel">What</p></div>
          <div class="col-md-6"><p class="eventTexts">{{getEventType eventTypes}}</p></div>
        </div>        

        <div class="row">
          <p class="eventLabel">Categories</p>
          {{#each categoryList}}
            <div class="col-md-2 parentCat">
              <label class="control-label">{{name}}</label>
              {{> subCats}}
            </div>
          {{/each}}          
        </div>
      </div>
      <div class="col-md-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <p class="eventLabel" style="text-align:center;">When</p>
              <p class="eventTexts dateArea">
                {{#with getDateFormat date}}
                  <p>{{date}}</p>
                  <p>{{month}}</p>
                  <p>{{year}}</p>
                {{/with}}
              </p>              
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">No. of Guest</div>
            <div class="col-md-4">{{nog}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="nav nav-tabs">
        {{#each_with_index getSelectedCategories}}
          {{#if getActiveIndex index}}
            <li class="active"><a href="#tab_{{_id}}" data-toggle="tab">{{name}}</a></li>
          {{else}}
            <li><a href="#tab_{{_id}}" data-toggle="tab">{{name}}</a></li>
          {{/if}}
        {{/each_with_index}}
      </ul>
      <div id="tab-content" class="tab-content">
        {{#each getSelectedCategories}}
        {{#if getActiveIndex index}}
          <div class="tab-pane active tab_inner" id="tab_{{_id}}">
            <div class="col-12 col-lg-4">{{> getServices}}</div>
          </div>
        {{else}}
          <div class="tab-pane tab_inner" id="tab_{{_id}}">
            <div class="col-12 col-lg-4">{{> getServices}}</div>
          </div>        
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</template>


<template name="getServices">
  <div class="container" style="width: 750px;">
    {{#each getServiceLists}}
    <div class="row serviceList">
      <div class="col-md-2">
          <img src="..." alt="" class="img-thumbnail">
      </div>
      <div class="col-md-8">
        <p class="serviceTitle"><a href="#">{{serviceName}}</a></p>
        <p class="serviceDescription">{{briefDescription}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</template>
<template name="eventHeader">
  <div class="container header"></div>
</template>

<template name="eventFooter"></template>

<template name="subCats">
  {{#each subcategories _id}}
    {{#if checkCategory _id categories}}
      <div>{{name}}</div>
    {{/if}}
  {{/each}}
</template>