<head> 
  <title>Create Event</title>
</head>
<template name="layout">
    <div class="body">
      {{ yield 'header' }}
      {{ yield }}
      {{ yield 'footer' }}
  </div>
</template>

<template name="header">
  <div class="container header">
    <div class="row" style="margin-top: 10px;">
      {{#if isUseLoggedIn}}
        <a href="#" id="logout" class="pagelink">Log Out</a>
      {{else}}
        <a href="/login" id="login" class="pagelink">Log In</a>
        <a href="/signup" id="signup" class="pagelink">Sign UP</a>      
      {{/if}}
    </div>
  </div>
</template>
<template name="footer">
</template>
<template name="home">
  <div style="boder: 1px solid #808080">Building Now<div>
</template>