<template name="signup">
	<div class="container">
		<div class="page-header">
		  <h1>User Register</h1>
		</div>

		<div class="row">
			<div class="col-md-2">&nbsp;
			</div>
			<div class="col-md-6">
			<form class="form-horizontal">
			<fieldset>

			<div class="form-group">
			  <label class="col-md-4 control-label" for="username">First Name</label>  
			  <div class="col-md-6">
			  <input id="username" name="username" placeholder="" class="form-control input-md" type="text" required="">
			  </div>
			</div>

			<div class="form-group">
			  <label class="col-md-4 control-label" for="firstname">First Name</label>  
			  <div class="col-md-6">
			  <input id="firstname" name="firstname" placeholder="" class="form-control input-md" type="text" required="">
			  </div>
			</div>

			<div class="form-group">
			  <label class="col-md-4 control-label" for="lastname">Last Name</label>  
			  <div class="col-md-6">
			  <input id="lastname" name="lastname" placeholder="" class="form-control input-md" type="text" required="">
			    
			  </div>
			</div>

			<div class="form-group">
			  <label class="col-md-4 control-label" for="email">Email</label>  
			  <div class="col-md-6">
			  <input id="email" name="email" placeholder="" class="form-control input-md" type="text" required="">
			    
			  </div>
			</div>

			<div class="form-group">
			  <label class="col-md-4 control-label" for="telno">Tel. No</label>  
			  <div class="col-md-6">
			  <input id="telno" name="telno" placeholder="" class="form-control input-md" type="text" required="">
			    
			  </div>
			</div>

			<div class="form-group">
			  <label class="col-md-4 control-label" for="password">Password</label>
			  <div class="col-md-6">
			    <input id="password" name="password" placeholder="" class="form-control input-md" type="password" required="">
			    
			  </div>
			</div>

			<div class="form-group">
			  <label class="col-md-4 control-label" for="passwordConfirm">Confirm Password</label>
			  <div class="col-md-6">
			    <input id="passwordConfirm" name="passwordConfirm" placeholder="" class="form-control input-md" type="password" required="">
			    
			  </div>
			</div>

			<div class="form-group">
			  <label class="col-md-4 control-label" for="register"></label>
			  <div class="col-md-4">
			    <button id="register" name="register" class="btn btn-primary">Register</button>
			  </div>
			</div>

			</fieldset>
			</form>				
			</div>
		</div>
	</div>
</template>
<template name="login">
	<div class="container">
		<div class="page-header">
		  <h1>User LogIn</h1>
		</div>		
		<div class="row">
			{{> flashMessages}}
			<div class="col-md-2">&nbsp;</div>
			<div class="col-md-6">
				<form class="form-horizontal">
				<fieldset>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="email">Email</label>  
				  <div class="col-md-6">
				  <input id="email" name="email" placeholder="" class="form-control input-md" required="" type="text">
				    
				  </div>
				</div>

				<!-- Password input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="password">Password</label>
				  <div class="col-md-6">
				    <input id="password" name="password" placeholder="" class="form-control input-md" required="" type="password">
				    
				  </div>
				</div>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="login"></label>
				  <div class="col-md-4">
				    <button id="login" name="login" class="btn btn-info">Log In</button>
				  </div>
				</div>


				</fieldset>
				</form>

			</div>
		</div>
	</div>
</template>

